<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
               "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=500, initial-scale=1">

  <title>Password Game</title>

  <script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="./static/bootstrap.min.css"></style>
  <link rel="stylesheet" href="./static/style.css"></style>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script type=text/javascript src="./static/jquery-1.11.1.min.js"></script>
  <script type=text/javascript src="./static/bootstrap.min.js"></script>
  <script type=text/javascript src="./static/js/profiles.1.05.js"></script>
</head>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid" style="width: 80%;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div><!-- /navbar-header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-form navbar-left" style="margin: 0px; width: 100%;">
          <ul class="nav navbar-nav" style="margin: 0px; width: 100%;">
            <li class="active"><a href="/profiles"><i class="fa fa-male fa-2x"></i><br/>View Profiles</a></li>

            <div class="navbar-form navbar-right" style="margin-top: 0px; margin-bottom: 0px;">
            {% if user %}
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-2x" style="margin-left: 5px; float: right"></i><br/>{{user}}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
              </ul>
            {% endif %}
            </div>
          </ul>
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<body style="margin-top: 60px;">
    {% if user %}
        <div class="container" id="profiles_container" style="width: 80%;">
            <br />
            <p id="loading_message">Please Wait. Loading...</p>
        <br/>
        </div>
    {% else %}
        <p>Please Log In!</p>
        <form style="margin: 10px" action="/login/" method="Post">
          <div class="form">
            <input type="text" class="form-control" name="username_input" placeholder="Username">
          </div>
          <button type="submit" class="btn btn-primary" style="margin-top: 10px">Login</button>
        </form>
    {% endif %}
    <div class="container" id="refresh_container" style="width: 80%;">
        <button class="btn btn-primary" onclick="window.location='/profiles';" style="float: right; width: 50px"><i class="fa fa-refresh"></i></button>
    </div>
</body>
</html>

