<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
               "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=500, initial-scale=1">

  <title>Rivi Click</title>

  <script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="./static/bootstrap.min.css"/>
  <link rel="stylesheet" href="./static/style.css"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var data = {
        labels: {{wk|safe}},
        datasets: [
            {
                label: "Frequency of Candidates Viewed",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{counts|safe}}
            }
        ]
    };
  </script>
</head>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid" style="width: 80%;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div><!-- /navbar-header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-form navbar-left" style="margin: 0px; width: 100%;">
          <ul class="nav navbar-nav" style="margin: 0px; width: 100%;">
            <li class=""><a href="/profiles"><i class="fa fa-male fa-2x"></i><br/>View Profiles</a></li>
            <li class="active"><a href="/stats"><i class="fa fa-bar-chart fa-2x"></i><br/>View Stats</a></li>

            <div class="navbar-form navbar-right" style="margin-top: 0px; margin-bottom: 0px;">
            {% if user %}
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-2x" style="margin-left: 5px; float: right"></i><br/>{{user}}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
              </ul>
            {% else %}
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-2x" style="margin-left: 5px"></i><br/>Login
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <form style="margin: 10px" action="/login/" method="Post">
                      <div class="form">
                        <input type="email" class="form-control" name="email_input" placeholder="Email">
                        <input type="password" class="form-control" name="password_input" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-primary" style="margin-top: 10px">Login</button>
                    </form>
                  </ul>
                </li>
              </ul>
            {% endif %}
            </div>

          </ul>
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<body style="margin-top: 60px;">
  </br>
  <div class="container" style="width: 80%;">
    {% if user %}
    <div>
        <p>Usage Frequency</p>
        <div>
            <canvas id="view_frequency_chart" width="600" height="400"></canvas>
        </div>
    </div>
    <br/>
    {% else %}
    <p>Please Log In!</p>
    {% endif %}
  </div>
</div>

  <p></br></p>
  <p></br></p>
  <p></br></p>

  <script src="./static/jquery-1.11.1.min.js"></script>
  <script src="./static/bootstrap.min.js"></script>
  <script src="./static/js/chart.js"></script>
  <script src="./static/js/stats.js"></script>


</body>
</html>

